<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="simetron.data">
			<section name="providers" type="Simetron.Data.Providers.ProviderSectionHandler,Simetron.Data" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<!--<add key="LogFile" value="simetron.log"/>-->
	</appSettings>
	<simetron.data>
		<providers default-mode="Mitsim">
			<provider name="Simetron.Data.Providers.Mitsim.MitsimNetworkProvider" />
		</providers>
	</simetron.data>
</configuration>
